@charset "UTF-8";
:root {
  --primary-color: linear-gradient(124.32deg, #31CB9E 0.01%, #0FAAA2 100.02%);
  --white-color: #FFFFFF;
  --black-color: #030D24;
  --text-color: #333;
  --border-color: #dbdbdb;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  color: var(--black-color);
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  /* Nhảy xuống hàng khi vượt quá row */
  flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}
.button {
  width: 125px;
  height: 44px;
  padding: 10px, 20px, 10px, 20px;
  border-radius: 32px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
}

.button--success {
  background: linear-gradient(124.32deg, #31CB9E 0.01%, #0FAAA2 100.02%);
}

.button--transparent {
  background: transparent;
  color: white;
}

.text-primary {
  background-image: linear-gradient(124.32deg, #31CB9E 0.01%, #0FAAA2 100.02%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.header {
  position: relative;
  height: 1000px;
  background: url("https://s3-alpha-sig.figma.com/img/d098/1df7/bb97306865902cc0fed48cb04a859997?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=PtwYJDfUXxEqmA5tXwwe94hG~aNBFc4oL6iBr1Eqfaiml57emU8oN9nk43jw2ymNk4vV7ogQh7b7sAvJvfpzljffw4LXS6W95j8Y~4bqMHAY9DBSk8b9H9UdSbyDNem1uiKjXCn59gU6TabMxPow1FUSNXkhnjGqCKxSmZ6vlfw1DHFA-LuxxxXMaA2jMVoX4Mm9eDFFZLCUkyAS6yVvUnlKYH6Lp-PjWBk3lDATUMv5Kjg3cqzULm-hGwJGwRKIbKbOqK~cD~HEh2gRDQJA32KkPBrUxQXiLnovnwQo9GH9zNW2SEbu53Jy9mm359fBdWxKtYMd8LLiRD81zbIl2Q__");
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background: rgba(2, 17, 50, 0.8980392157);
}
.header__navbar {
  z-index: 1;
  position: relative;
  width: 1124px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.header__navbar-logo {
  display: flex;
  align-items: center;
  padding: 0;
}
.header__navbar-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0 58px;
  cursor: pointer;
  padding: 0;
}
.header__navbar-item {
  font-size: 1.6rem;
}
.header__navbar-item-link {
  text-decoration: none;
  color: var(--white-color);
}
.header__navbar-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0 px;
}
.header__content {
  position: relative;
  z-index: 1;
  width: 782px;
  height: 152px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  left: 50%;
  top: 150px;
  transform: translateX(-50%);
}
.header__content-title {
  font-size: 3.8rem;
  font-weight: 500;
  line-height: 46px;
  text-align: center;
  color: var(--white-color);
}
.header__content-subtitle {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: var(--white-color);
}
.header__image {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.header__image {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service {
  height: 772px;
  padding: 100px 160px 140px 160px;
}
.service__emphasis {
  margin: 0 auto;
  width: 573px;
  height: 92px;
  text-align: center;
}
.service__emphasis-description {
  color: var(--black-color);
  font-size: 3.8rem;
  font-weight: 500;
  line-height: 46px;
}
.service__emphasis-description--success {
  color: linear-gradient(124.32deg, #31CB9E 0.01%, #0FAAA2 100.02%);
}
.service__card-list {
  margin: 0 auto;
  width: 1120px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-top: 40px;
}
.service__card {
  background-color: #F1F3F5;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.service__card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body__icon {
  width: 80px;
  height: 80px;
}
.card-body__container {
  width: 277px;
  color: var(--black-color);
}
.card-body__container--short {
  margin-top: 24px;
  height: 192px;
}
.card-body__container--tall {
  height: 240px;
}
.card-body__container-title {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
}
.card-body__container-content {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.booking {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 521px;
}
.booking__info {
  width: 370px;
  height: 372px;
  gap: 24px;
}
.booking__info-title {
  font-size: 3.8rem;
  font-weight: 500;
  line-height: 46px;
  color: var(--black-color);
  white-space: pre-line;
}
.booking__info-description {
  width: 360px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
  color: var(--black-color);
}
.booking__info-description > p {
  margin: 20px 0;
}
.booking__img {
  width: 728px;
  height: 660px;
}

/*# sourceMappingURL=style.css.map */
