/* =====================================CONTACT================================= */
.contact {
    position: relative;
    &__container {
        // height: 710px;
        background: url('../../assets/header/header-background.png');
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
        padding: 90px 270px 150px 160px;
    }

    &__background {
        &-overlay {
            position: absolute;
            bottom: 0;

            background: url('../../assets/contact/mechanic.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right bottom;

            height: 792px;
            width: 100%;
        }
    }

    &__info {
        // position: absolute;
        // top: 90px;
        // left: 160px;
        z-index: 1;
      

        width: 368px;
        // padding: 12px 0;

        &-header {
            font-size: 3.8rem;
            font-weight: 500;
            line-height: 3.2rem;
        }

        &-body {
            font-size: 2rem;
            font-weight: 400;
            line-height: 2.8rem;
            color: var(--color-white);
            padding: 24px 0;
        }

        &-footer {
            backdrop-filter: blur(10px);
            border-radius: 8px;
            border: 0.9px solid rgba(255, 255, 255, 0.3);

            padding: 40px;
            background-color: rgba(255, 255, 255, 0.01);

            &-title {
                font-size: 16px;
                font-weight: 500;
                line-height: 2.4rem;
            }

            &-support {
                padding-top: 24px;
            }
        }
    }

    &__form {
        // position: absolute;
        // top: 90px;
        // right: 300px;
        z-index: 1;

        padding: 40px;

        background-color: var(--color-white);
        border-radius: 8px;

        &-control {
            width: 320px;
            margin-bottom: 16px;
        }

        &-label {
            padding: 4px 0;
            font-size: 1.4rem;
            line-height: 2.2rem;
            font-weight: 400;
        }

        &-input {
            &-item {
                width: 100%;
                padding: 5px 12px 5px 12px;

                border: 1px solid rgba(213, 216, 221, 1);
                border-radius: 2px;

                &--text-area {
                    padding: 14px 0;
                }
            }
        }

        &-submit {
            display: flex;

            &-button {
                margin-right: 28px;
            }

            &-policy {
                color: var(--color-subtext);
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 2rem;

                max-width: 180px;
            }
        }

    }
}

.footer-support {
    &__mobile {
        display: flex;
        align-items: center;
        gap: 20px;
        color: var(--color-white);
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 3.2rem;
        padding-bottom: 12px;
        flex-wrap: wrap;
    }

    &__email {
        display: flex;
        align-items: center;
        gap: 20px;
        color: var(--color-white);
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 3.2rem;
        flex-wrap: wrap;
    }
}

// Responsive for contact
@media screen and (max-width: 992px) {
    .contact {
        position: unset;
        &__container {
            width: 100%;
            // min-height: 1012px;
            padding: 80px 16px;
        }

        &__background {
            &-overlay {
                position: unset;
                display: none;
            }
        }

        &__info {
            width: 100%;
            // margin-bottom: 24px;

            &-header {
                font-size: 3rem;
                line-height: 3.8rem;
                text-align: center;
            }

            &-body {
                text-align: center;
            }

        }

        &__form {
            width: 100%;
            &-control {
                width: 100%;
            }

            &-submit {
                justify-content: space-between;
                gap: 12px;
                flex-wrap: wrap;
                &-button {
                    margin-right: 0;
                }
                &-policy {
                   
                }
            }

        }
    }
    .footer-support {
        &__mobile {
            font-size: clamp(
          0.5rem,
          -1.2482517482517483rem + 11.188811188811188vw,
          2rem
        );
        }
    
        &__email {
            font-size: clamp(
          0.5rem,
          -1.2482517482517483rem + 11.188811188811188vw,
          2rem
        );
        }
    }

}