:root {
    // Text color
    --color-primary: linear-gradient(124.32deg, #31CB9E 0.01%, #0FAAA2 100.02%);
    --color-white: #FFFFFF;
    --color-black: #030D24;
    --color-text: #333;
    --color-border: #dbdbdb;
    --color-card: #F1F3F5;
    --color-subtext: #888E9C;

}
