/* =====================================HEADER================================= */
.header {
    &__container {
        position: relative;
        height: 1000px;
        background: url('../../assets/header/header-background.png');
    }

    // Navbar
    &__navbar {
        padding: 40px 20px 0;
        max-width: 1124px;
       
        margin: 0 auto;
        
        display: flex;
        align-items: center;

        &-list {
            list-style: none;

            display: flex;
            gap: 0 48px;

            padding: 0;
            margin-left: 130px;
            margin-right: auto;

        }
        &-item {

            font-size: 1.6rem;

            &-link {
                display: inline-block;

                text-decoration: none;
                color: var(--color-white);
            }
        }
        &-links {
            &-login {
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.4rem;
                color: var(--color-white);

                margin-right: 24px;
                cursor: pointer;
            }
        }

        &-burger, &-cross {
            position: absolute;
            right: 20px;
            z-index: 99999;

            opacity: 0;
            visibility: hidden;
            transition: all 0.25s ease-in-out;
        }

        &-dropdown {
            
            // Animation
            opacity: 0;
            visibility: hidden;
            transition: all 0.25s linear;
            height: 0;

            position: absolute;
            top: 100%;
            left: 0;
            z-index: 9999;

            background-color: rgba(5, 18, 48, 1);
          
            width: 100%;
           
            padding: 0 16px 16px;
           
            &-list {
                display: flex;
                flex-direction: column;
                gap: 24px;
                

                list-style: none;
                padding: 24px 0;
                margin: 0;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.4rem;
                border-top: 1px solid #ccc; 
                border-bottom: 1px solid #ccc; 

                & a {
                    text-decoration: none;
                    color: var(--color-white);
                    display: block;
                }
            }
            &-links {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }

            &-info {
                display: flex;
                flex-direction: column;
                gap: 16px;
                color: var(--color-white);
                padding: 24px 0;
            }
            &-title {
                font-size: 1.6rem;
                line-height: 2.4rem;
                font-weight: 500;
            }

            &-description {
                font-size: 1.4rem;
                line-height: 1.7rem;
            }

            &-social-networks {
                > img {
                    margin-right: 8px;
                }
            } 

        }

    }

    // Content
    &__content {
        max-width: 782px;

        text-align: center;
        color: var(--color-white);

        margin: 0 auto;
        padding: 112px 0;
       
        &-title {
            font-size: 3.8rem;
            font-weight: 500;
            line-height: 4.6rem;

            padding-bottom: 16px;

        }

        &-subtitle {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.4rem;
        }
    }

    // Image
    &__image {
        position: absolute;
        bottom: 0;

        width: 100%;
        display: flex;
        justify-content: center;
        
        &-item--desktop {
            display: block;
        }
        &-item--mobile {
            display: none;
            
        }
        
    }
}

// Responsive for header
@media screen and (max-width: 768px) {
    .header {
        &__container {
            width: 100%;
            height: 852px;
        }

        &__navbar {
            position: relative;

            padding: 16px 24px;

            &-list--hide, &-links--hide {
                display: none;
            }

            &-burger {
                opacity: 1;
                visibility: visible;
            }

            // Class để thêm 
            &-burger--hide {
                opacity: 0;
                visibility: hidden;
            }
            &-cross--show {
                opacity: 1;
                visibility: visible;
                transform: rotate(360deg);
            }

            &-dropdown--show {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                // Show animation
                opacity: 1;
                visibility: visible;
                height: calc(100vh - 72px);
            }

        }

        // Content
        &__content {
            padding: 46px 16px;
            &-title {
                font-size: 3rem;
                line-height: 3.8rem;
            }
            &-subtitle {
                font-size: 1.6rem;
            }
        }

        // Image
        &__image {
            &-item--desktop {
                display: none;
            }
            &-item--mobile {
                display: block;
            } 
            >img {
                width: 100%;
            }
        }

    }

}