:root {
    --primary-color: linear-gradient(124.32deg, #31CB9E 0.01%, #0FAAA2 100.02%);
    --white-color: #FFFFFF;
    --black-color: #030D24;
    --text-color: #333;
    --border-color: #dbdbdb;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    color: var(--black-color);
    // max-width: 1440px;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    /* Nhảy xuống hàng khi vượt quá row */
    flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }

    to {
        transform: scale(var(--growth-to));
    }
}

// Button
.button {
    width: 125px;
    height: 44px;
    padding: 10px, 20px, 10px, 20px;
    border-radius: 32px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    
}
.button--success {
    background: linear-gradient(124.32deg, #31CB9E 0.01%, #0FAAA2 100.02%);
}
.button--sm {
    width: 80px;
}

.button--transparent {
    background: transparent;
    color: var(--white-color);
}

// Text
.text-primary {
    @include text-primary;
}

.fs-5 {
    font-size: 20px;
}
