// Header
.header {
    position: relative;
    height: 1000px;
    background: url('https://s3-alpha-sig.figma.com/img/d098/1df7/bb97306865902cc0fed48cb04a859997?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=PtwYJDfUXxEqmA5tXwwe94hG~aNBFc4oL6iBr1Eqfaiml57emU8oN9nk43jw2ymNk4vV7ogQh7b7sAvJvfpzljffw4LXS6W95j8Y~4bqMHAY9DBSk8b9H9UdSbyDNem1uiKjXCn59gU6TabMxPow1FUSNXkhnjGqCKxSmZ6vlfw1DHFA-LuxxxXMaA2jMVoX4Mm9eDFFZLCUkyAS6yVvUnlKYH6Lp-PjWBk3lDATUMv5Kjg3cqzULm-hGwJGwRKIbKbOqK~cD~HEh2gRDQJA32KkPBrUxQXiLnovnwQo9GH9zNW2SEbu53Jy9mm359fBdWxKtYMd8LLiRD81zbIl2Q__');
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1000px;
        background: #021132e5;
        // backdrop-filter: blur(5px);
        z-index: 10;
    }
    
    // Navbar
    &__navbar {
        z-index: 20;
        position: relative;
        width: 1123px;
        // max-width: 80%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        // margin-top: 40px;
        &-logo {
            display: flex;
            align-items: center;
        }

        &-list {
            display: flex;
            align-items: center;
            list-style: none;
            gap: 0 48px;
            cursor: pointer;
            font-family: "Rubik", sans-serif;
        }
        &-item {
            margin: 0 10px;
        }

        &-links {
            display: flex;
            align-items: center;
            list-style: none;
            gap: 0 px;
        }
    }

    // Image
    &__image {
        position: absolute;
        width: 100%;
        z-index: 10;
        bottom: 0;
    }


}